/*
	Grid Filter
*/
.grid-filter {
  margin: 0 0 0.5rem;
  button {
    background-color: $color-passive;
    color: #fff;
    border: none;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    &:hover {
      background-color: $color-hover
    }
    &.is-checked {
      background-color: $color-active
    }
  }
}
